<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Интернет-магазин {% endblock %}</title>
</head>
<body>
    <section>
        <h1>Модная одежда</h1>
        <a href="#">Одежда</a>
        <a href="#">Обувь</a>
        <a href="#">Корзина</a>
    </section>
    <div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis \
           consequuntur debitis deserunt eos, error eum fugiat labore magnam nulla.</p>
    </div>
    <section>
        Наши контакты: company@mail.com
    </section>

</body>
</html>